@using Eventify.Data
@inject ApplicationDbContext db

<div class="EventResults-Container" style="@style">
    <div class="EventResults-TopSection">
        <h3>Overall Results:</h3>
        <button style="background-color:#FFD803;border:none;padding:8px 2rem;border-radius:6px;cursor:pointer;">Export PDF</button>
    </div>
    <div class="TableResults-Container">
        <table>
            <thead>
                <tr>
                    <th>Entry #</th>
                    <th>Participant</th>
                    <th>Course</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var totalScores = from scores in db.ParticipantsScores
                                      join peep in db.Participants on scores.ParticipantId equals peep.Id
                                      where peep.ActivityID == Activity.Id
                                      group scores by new { peep.Id, peep.EntryNumber, peep.Name, peep.Course } into g
                                      select new
                                      {
                                          ParticipantId = g.Key.Id,
                                          EntryNumber = g.Key.EntryNumber,
                                          Name = g.Key.Name,
                                          Course = g.Key.Course,
                                          TotalScore = g.Sum(x => x.Score)
                                      };
                    var results = from ts in totalScores
                                  orderby ts.TotalScore descending
                                  select new
                                  {
                                      EntryNumber = ts.EntryNumber,
                                      Participant = ts.Name,
                                      Course = ts.Course,
                                      Score = ts.TotalScore
                                  };

                    foreach (var result in results)
                    {

                        <tr>
                            <td>@result.EntryNumber</td>
                            <td>@result.Participant</td>
                            <td>@result.Course</td>
                            <td>@result.Score</td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
</div>

@code {
    [Parameter]
    public string? style { get; set; }

    [Parameter]
    public Events? Event { get; set; }

    [Parameter]
    public Activity? Activity { get; set; }


}

