@using Eventify.Data
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<div class="event-cardview-container" style="@style">
    <!--Header-->
    <section class="event-cardview-header PrimaryVariant-Background">
        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 24 24"><path fill="white" d="M14.5 18q-1.05 0-1.775-.725T12 15.5t.725-1.775T14.5 13t1.775.725T17 15.5t-.725 1.775T14.5 18M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V2h2v2h8V2h2v2h1q.825 0 1.413.588T21 6v14q0 .825-.587 1.413T19 22zm0-2h14V10H5z" /></svg>
        <div class="event-cardview-header-details">
            <a href="@($"events/details?id={Event.Id}")" style="text-decoration:none;cursor:pointer;">
                <h1>@Event.EventName</h1>
            </a>
            <h4>@Event.Date.ToShortDateString()</h4>
        </div>
        <div class="event-cardview-menu-container">
            <button type="button" class="event-cardview-menu" @onclick="menuClick">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 16 16"><g fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><circle cx="8" cy="2.5" r=".75" /><circle cx="8" cy="8" r=".75" /><circle cx="8" cy="13.5" r=".75" /></g></svg>
            </button>
            <!--This is a hidden element-->
            <div class="event-cardview-menubar" style="@menustyle">
                <button @onclick="NavigateToDelete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                    </svg>Delete
                </button>
                <button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                    </svg>Modify
                </button>
            </div>
            <!--This is a hidden element-->
        </div>
    </section>
    <!--Header End-->
    <!--Mid-->
    <section class="event-cardview-mid">
        <h3>Details</h3>
        <div class="event-cardview-timeDetails">
            <p>Start time: @Event.StartTime</p>
            <hr />
            <p>End time: @Event.EndTime</p>
        </div>
        <p style="margin:7px 0 0 0;">Venue: @Event.Venue</p>
    </section>
    <!--Mid End-->
    <!--Footer-->
    <section class="event-cardview-footer">
        <div class="event-cardview-footer-status">
            <h4>Status:</h4>
            <div>
                @Event.Status
            </div>
        </div>
        <a href="@($"/events/details?id={Event.Id}")" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 48 48"><g fill="none" stroke="#6F6F6F" stroke-linecap="round" stroke-linejoin="round" stroke-width="6"><path d="M28 6H42V20" /><path d="M42 29.4737V39C42 40.6569 40.6569 42 39 42H9C7.34315 42 6 40.6569 6 39V9C6 7.34315 7.34315 6 9 6L18 6" /><path d="M25.7998 22.1999L41.0998 6.8999" /></g></svg>
        </a>
    </section>
    <!--Footer End-->
</div>

@code{
    [Parameter]
    public string? style {get;set;} = "";

    [Parameter]
    public Events? Event {get;set;}

    private string menustyle {get;set;}
    bool menuHidden = true;

    void menuClick(){
        if (menuHidden)
        {
            menustyle = "display:block;";
            menuHidden = false;
        }
        else
        {
            menustyle = "display:none;";
            menuHidden = true;
        }
    }

    void NavigateToDelete(){
        NavigationManager.NavigateTo($"events/delete?id={Event.Id}", forceLoad: true);
    }
}
