@using Eventify.Data
@inject Eventify.Data.ApplicationDbContext db
@inject NavigationManager NM

<div class="ActivitiesSection-Container" style="@style">
    <div style="display:flex;flex-direction:row;justify-content:space-between;align-items:center;margin:0 0 1rem 0;">
        <h3>Activities</h3>
        <a href="@($"/{Event!.Id}/activities/create")" style="display:flex;flex-direction:row;justify-content:center;align-items:center; text-decoration:none;cursor:pointer;background-color:#FFD803;color:black;font-size:12px;font-weight:bold;padding:7px 12px;border-radius:10px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 24 24"><path fill="black" d="M11.5 12.5H6v-1h5.5V6h1v5.5H18v1h-5.5V18h-1z" /></svg>
            New Activity
        </a>
    </div>
    <div style="width:100%;height:auto;overflow-x:auto;">
        <table style="">
            @foreach (var act in db.Activity.Where(i => i.Event.Id == Event.Id))
            {
                <tr style="">
                    <td style="display:flex;flex-direction:row;justify-content:start;align-items:center;padding:1rem 0 1rem 1rem;">
                        <img src="activityIcon.png" style="width:30px;height:30px;margin:0 1rem 0 0;" />
                        <a href="@($"/{Event.Id}/activities/details?id={act.Id}")" style="text-decoration:none;cursor:pointer;color:black;" target="_blank"><h5>@act.Name</h5></a>
                    </td>
                    <td>
                        <h6 style="color:#1e1e1e;font-weight:500;">@act.Date.ToLongDateString()</h6>
                    </td>
                    <td>
                        <h6 style="color:#1e1e1e;font-weight:500;">@act.StartTime - @act.EndTime</h6>
                    </td>
                    <td style="display:flex;flex-direction:row;justify-content:end;align-items:center;padding:0 1rem 0 0;">
                        <a href="@($"/{Event.Id}/activities/delete?id={act.Id}")" style="padding:5px 1rem;text-decoration:none;color:black;cursor:pointer;border:1px solid black;border-radius:6px;box-sizing:border-box;display:flex;flex-direction:row;justify-content:center;align-items:center;width:50%;font-size:12px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                            </svg>Delete
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>
    
</div>

@code{
    [Parameter]
    public Events? Event {get;set;}

    [Parameter]
    public string? style {get;set;}
}
