@using Eventify.Data
@inject ApplicationDbContext db

<div class="EventResults-Container" style="@style">
    <div class="EventResults-TopSection">
        <h3>Overall Results:</h3>
        <button style="background-color:#FFD803;border:none;padding:8px 2rem;border-radius:6px;cursor:pointer;">Export PDF</button>
    </div>
    <div class="TableResults-Container">
        <table>
            <thead>
                <tr>
                    <th>Activity Name</th>
                    <th>Entry Number</th>
                    <th>Champion</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @{

                    var query = from partscores in db.ParticipantsScores
                                join parts in db.Participants on partscores.Participant.Id equals parts.Id
                                join activity in db.Activity on parts.Activity.Id equals activity.Id
                                join judges in db.Users on partscores.Judge.Id equals judges.Id
                                where activity.Event.Id == Event.Id
                                group partscores by new { Activity = activity.Name, ParticipantId = parts.Id, JudgeId = judges.Id, ParticipantName = parts.Name, parts.EntryNumber } into g
                                select new
                                {
                                    g.Key.ParticipantId,
                                    g.Key.EntryNumber,
                                    g.Key.ParticipantName,
                                    g.Key.Activity,
                                    TotalScore = g.Sum(x => x.Score)
                                };

                    var result = query
                    .GroupBy(x => new { x.ParticipantId, x.EntryNumber, x.ParticipantName, x.Activity })
                    .Select(g => new
                    {
                        ParticipantId = g.Key.ParticipantId,
                        EntryNumber = g.Key.EntryNumber,
                        Champion = g.Key.ParticipantName,
                        Activity = g.Key.Activity,
                        AverageScore = g.Average(x => x.TotalScore)
                    })
                    .GroupBy(x => x.Activity)
                    .Select(g => g.OrderByDescending(x => x.AverageScore).FirstOrDefault());

                    foreach (var results in result)
                    {
                        <tr>
                            <td>@results.Activity</td>
                            <td>@results.EntryNumber</td>
                            <td>@results.Champion</td>
                            <td>@results.AverageScore</td>
                        </tr>
                    }
                }
            </tbody>
            
        </table>
    </div>
</div>

@code {
    [Parameter]
    public string? style { get; set; }

    [Parameter]
    public Events? Event { get; set; }


}
