@using Eventify.Data
@inject ApplicationDbContext db

<div class="EventResults-Container" style="@style">
    <div class="EventResults-TopSection">
        <h3>Overall Results:</h3>
        <button style="background-color:#FFD803;border:none;padding:8px 2rem;border-radius:6px;cursor:pointer;">Export PDF</button>
    </div>
    <div class="TableResults-Container">
        <table>
            <thead>
                <tr>
                    <th>Activity Name</th>
                    <th>Entry Number</th>
                    <th>Champion</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @{

                    // Step 2: Join back to get the participants with the maximum scores
                    var results = from participantScores in db.ParticipantsScores
                                  join participants in db.Participants on participantScores.Participant.Id equals participants.Id
                                  join activity in db.Activity on participants.Activity.Id equals activity.Id
                                  join ev in db.Events on activity.Event.Id equals ev.Id
                                  group new { participants, participantScores} by new {activity.Id, participants.EntryNumber, participants.Name, participantScores.Score } into g
                                  select new
                                  {
                                      ActivityId = g.Key.Id,
                                      EntryNumber = g.Key.EntryNumber,
                                      Champion = g.Key.Name,
                                      Score = g.Sum(x => x.participantScores.Score)
                                  };

                    var finalresult = from items in results
                                      join activity in db.Activity on items.ActivityId equals activity.Id
                                      select new
                                      {
                                          ActivityName = activity.Name,
                                          EntryNumber = items.EntryNumber,
                                          Champion = items.Champion,
                                          Score = items.Score
                                          
                                      };

                    foreach (var result in finalresult)
                    {

                        <tr>
                            <td>@result.ActivityName</td>
                            <td>@result.EntryNumber</td>
                            <td>@result.Champion</td>
                            <td>@result.Score</td>
                        </tr>
                    }
                }
            </tbody>
            
        </table>
    </div>
</div>

@code {
    [Parameter]
    public string? style { get; set; }

    [Parameter]
    public Events? Event { get; set; }


}
